# SEO Configuration
NEXT_PUBLIC_SITE_URL=https://ismail-groupe-7t6g3zjoq-ismail-group.vercel.app

# Analytics (Optional)
NEXT_PUBLIC_GA_ID=

# Contact Form (Optional)
CONTACT_EMAIL=support@ismailgroupai.com
